@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

  /* ----- Colours ----- */

  --primary-system: 250, 250, 250;
  --secondary-system: 242, 139, 166;

  --primary-window: 0, 0, 0;
  --secondary-window: 250, 250, 250;

  /* ----- Font Sizes ----- */

  --font-xxl: 64px;
  --font-xl: 36px;
  --font-l: 18px;
  --font-m: 14px;
  --font-s: 12px;
  --font-xs: 10px;

  /* ----- Padding standards ----- */

  --padding-titles: 15px;

  /* ----- Line weight standards ----- */

  --line-weight-l: 4px;
  --line-weight-m: 2px;
  --line-weight-s: 1px;

}

html body {
  color: rgb(var(--primary-system));
  background-color: rgb(var(--secondary-system));
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: lowercase;
  font-size: var(--font-xxl);
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-size: var(--font-m);
}

h3 {
  margin: 0 0 4px 0;
  font-size: var(--font-l);
}

p {
  font-size: var(--font-s);
}


/* ----- Header ------ */

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-time {
  width: 100%;
  text-align: center;
}

.currency-section {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
}

.currency-selection {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-selection > select {
  padding: 2px 4px 4px 4px;
  margin: 4px;
  height: 30px;
  outline: none;
  border: 1px rgb(var(--primary-window)) solid;
  border-radius: 6px;
  font-family: 'Space Mono', monospace;
}


/* ----- SVG Fills ----- */

.icon-header {
  fill: rgb(var(--primary-system));
  padding: 12px;
  margin-top: 22px;
}

.icon-arrow-dropdown {
  fill: rgb(var(--primary-window));
}

.icon-arrow-refresh {
  fill: rgb(var(--primary-window));
  padding: 1px 2px;
}

.icon-window-bar-background {
  position: absolute;
  left: 0px;
  z-index: 1;
  display: inline;
  fill: rgb(var(--primary-window));
  width: 1%;
}

.icon-slow-turtle {
  position: relative;
  top: 4px;
  margin: 6px;
  fill: rgb(var(--primary-window));
}

.icon-fast-hare {
  position: relative;
  top: 4px;
  margin: 4px 6px;
  fill: rgb(var(--primary-window));
}

.icon-happy {
  fill: rgb(var(--primary-window));
}


/* ----- Window Styles ----- */

.window {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px;
  border: 2px solid rgb(var(--primary-window));
  /* box-shadow: 3px 3px 0px rgb(var(--primary-window)); */
}

.window-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--secondary-window));
  height: 30px;
  cursor: grab;
}

.bar-background {
  width: 100%;
  padding: 0 4px;
  margin: -3px 0 0 0;
}

.bar {
  height: 2px;
  border: solid black;
  border-width: 0 0 1px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 17px;
  height: 17px;
  z-index: 150;
  border: 1px solid rgb(var(--primary-window));
}

.window-toggle {
  z-index: 99;
  position: absolute;
  left: 13px;
  top: 2px;
  display: inherit;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--secondary-window));
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox" i] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(var(--secondary-window));
}

.window-toggle:hover input ~ .checkmark {
  background-color: rgb(var(--secondary-window));
}

.window-toggle input:checked ~ .checkmark {
  background-color: rgb(var(--secondary-window));
}

.window-toggle:after {
  content: "";
  position: absolute;
  display: none;
}

.window-toggle input:checked ~ .checkmark:after {
  display: block;
}

.window-toggle .checkmark:after {
  left: 7px;
  top: 1.5px;
  width: 11px;
  height: 10px;
  border: solid black;
  border-width: 0 0 2px 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.window-bar > a {
  position: absolute;
  right: 13px;
  z-index: 100;
  padding: 0 4px 0 5px;
  background-color: rgb(var(--secondary-window));
}

.window-title {
  position: absolute;
  color: rgb(var(--primary-window));
  z-index: 100;
  padding: 1px 15px;
  background-color: rgb(var(--secondary-window));
}

.window-contents {
  width: 100%;
  color: rgb(var(--secondary-window));
  background-color: rgb(var(--primary-window));
  display: flex;
  flex-direction: column;
  align-content: center;
}

.window-inner-lining {
  padding: 7.5px;
}

.window-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* ----- Module General Styling ----- */

.module {
  margin: 7.5px;
}


/* ----- Eth Gas Fees Feed Widget ------ */

/* Gas Fees Feed */
.eth-gas-fees-feed-container {
  width: 450px;
  color: rgb(var(--primary-window));
  background-color: rgb(var(--secondary-window));
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eth-gas-fees-feed-low, .eth-gas-fees-feed-average, .eth-gas-fees-feed-high {
  padding: var(--padding-titles) 20px 20px 20px;
  text-align: center;
}

.eth-gas-fees-feed-gwei-value {
  font-size: var(--font-l);
  line-height: 2;
}

.eth-gas-fees-feed-eth-value, .eth-gas-fees-feed-primary-currency-value, .eth-gas-fees-feed-transfer-duration {
  font-size: var(--font-s);
  line-height: 2;
}

/* Top Guzzlers Module */
.eth-gas-fees-top-guzzlers-container {
  width: 200px;
  color: rgb(var(--primary-window));
  background-color: rgb(var(--secondary-window));
}

.eth-gas-fees-top-guzzlers-title {
  text-align: center;
  padding: var(--padding-titles);
}

/* Exchange Prices Module */

.eth-gas-fees-exchange-prices-container {
  width: 500px;
  color: rgb(var(--primary-window));
  background-color: rgb(var(--secondary-window));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eth-gas-fees-exchange-prices-title {
  padding: var(--padding-titles);
}

/* Market Sentiment Module */

.eth-gas-fees-market-sentiment-container {
  min-height: 150px;
  width: 150px;
  color: rgb(var(--primary-window));
  background-color: rgb(var(--secondary-window));
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.eth-gas-fees-market-sentiment-title {
  padding: var(--padding-titles);
}

.eth-gas-fees-market-sentiment-value {
  position: absolute;
  margin-top: calc(var(--padding-titles) * -1);
  display: flex;
  align-self: center;
  justify-content: center;
  top: 50%;
}

/* Exchange Prices */

.responsive-table {
  margin: -10px 0 10px 0;
  width: 90%;
}

th {
  text-align: center;
  padding-bottom: 8px;
}

td {
  text-align: center;
  font-size: var(--font-s);
  padding: 5px;
}

td:nth-of-type(1) {
  text-align: left;
}


/* ----- System styles ----- */

::-moz-selection {
  color: rgb(var(--primary-system));
  background: rgba(var(--secondary-system), 0.9);
}

::selection {
  color: rgb(var(--primary-system));
  background: rgba(var(--secondary-system), 0.9);
}


/* ------------------------- */
/* ----- Media Queries ----- */
/* ------------------------- */

@media only screen
  and (max-width: 800px) {
    .module {
      width: 100%;
    }
  }
