@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

  /* ----- Colours ----- */

  --primary-system: 250, 250, 250;
  --secondary-system: 242, 139, 166;

  --primary-window: 0, 0, 0;
  --secondary-window: 250, 250, 250;

  /* ----- Font Sizes ----- */

  --font-xxl: 64px;
  --font-xl: 42px;
  --font-l: 18px;
  --font-m: 14px;
  --font-s: 12px;
  --font-xs: 10px;

  /* ----- Padding standards ----- */

  --padding-titles: 15px;
  --padding-general: 15px;

  /* ----- Line weight standards ----- */

  --line-weight-l: 4px;
  --line-weight-m: 2px;
  --line-weight-s: 1px;

}

html body {
  color: rgb(var(--primary-system));
  background-color: rgb(var(--secondary-system));
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: lowercase;
  font-size: var(--font-xxl);
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-size: var(--font-m);
}

h3 {
  margin: 0 0 4px 0;
  font-size: var(--font-l);
}

h4 {
  margin: 0px 0 4px 0;
  font-size: var(--font-s);
}

p {
  font-size: var(--font-s);
}


/* ----- Header ------ */

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px 10px 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-time {
  width: 100%;
  text-align: center;
  line-height: 2;
}

.currency-section {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  text-align: center;
}

.currency-selection {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-selection > select {
  padding: 3px 6px 4px 6px;
  margin: 4px;
  height: 30px;
  outline: none;
  border: 1px rgb(var(--primary-window)) solid;
  border-radius: 6px;
  font-family: 'Space Mono', monospace;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: rgb(var(--secondary-window));
}

input[type="field" i] {
  padding: 5px 5px 5px 7px;
  font-family: 'Space Mono', monospace;
  outline: 1px solid rgb(var(--primary-window));
  width: 70%;
  border: none;
}

input[type="field" i]::placeholder {
  padding: 2px;
}


/* ----- SVG icons ----- */

.icon-header {
  fill: rgb(var(--primary-system));
  padding: 12px;
  margin-top: 22px;
}

.icon-arrow-dropdown {
  fill: rgb(var(--primary-window));
}

.icon-arrow-refresh {
  fill: rgb(var(--primary-window));
  padding: 1px 2px;
}

.icon-window-bar-background {
  position: absolute;
  left: 0px;
  z-index: 1;
  display: inline;
  fill: rgb(var(--primary-window));
  width: 1%;
}

.icon-slow-turtle {
  position: relative;
  top: 4px;
  margin: 6px;
  fill: rgb(var(--primary-window));
}

.icon-fast-hare {
  position: relative;
  top: 4px;
  margin: 4px 6px;
  fill: rgb(var(--primary-window));
}

.icon-happy {
  fill: rgb(var(--primary-window));
}

.icon-grab {
  cursor: grab;
  fill: rgb(var(--primary-window));
  position: relative;
  top: 2px;
}

.icon-button-remove {
  cursor: pointer;
  fill: rgb(var(--secondary-window));
  stroke: rgb(var(--primary-window));
  position: relative;
  top: 2px;
}

.icon-button-add {
  cursor: pointer;
  fill: rgb(var(--secondary-window));
  stroke: rgb(var(--primary-window));
  position: relative;
  top: 2px;
}

.icon-button-pointing-hand {
  cursor: pointer;
  fill: rgb(var(--primary-window));
  position: relative;
  top: 2px;
}

.icon-bomb {
  cursor: pointer;
  fill: rgb(var(--primary-window));
  width: 20px;
}

.icon-tick {
  cursor: pointer;
  fill: rgb(var(--primary-window));
  width: 15px;
}


/* ----- Window Styles ----- */

.widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.window {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 10px 20px;
  height: 100%;
  border: 2px solid rgb(var(--primary-window));
  /* box-shadow: 3px 3px 0px rgb(var(--primary-window)); */
}

.window-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--secondary-window));
  height: 30px;
  cursor: grab;
}

.bar-background {
  width: 100%;
  padding: 0 4px;
  margin: -3px 0 0 0;
}

.bar {
  height: 2px;
  border: solid black;
  border-width: 0 0 1px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 17px;
  height: 17px;
  z-index: 150;
  border: 1px solid rgb(var(--primary-window));
}

.window-toggle {
  z-index: 99;
  position: absolute;
  left: 13px;
  top: 2px;
  display: inherit;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--secondary-window));
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox" i] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(var(--secondary-window));
}

.window-toggle:hover input ~ .checkmark {
  background-color: rgb(var(--secondary-window));
}

.window-toggle input:checked ~ .checkmark {
  background-color: rgb(var(--secondary-window));
}

.window-toggle:after {
  content: "";
  position: absolute;
  display: none;
}

.window-toggle input:checked ~ .checkmark:after {
  display: block;
}

.window-toggle .checkmark:after {
  left: 7px;
  top: 1.5px;
  width: 11px;
  height: 10px;
  border: solid black;
  border-width: 0 0 2px 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.window-title {
  position: absolute;
  color: rgb(var(--primary-window));
  z-index: 100;
  padding: 1px 15px;
  background-color: rgb(var(--secondary-window));
}

.window-bar > a:nth-of-type(1) {
  position: absolute;
  right: 13px;
  z-index: 100;
  padding: 0 4px 0 5px;
  background-color: rgb(var(--secondary-window));
}

.window-bar > a:nth-of-type(2) {
  position: absolute;
  right: 45px;
  z-index: 100;
  padding: 0 4px 0 5px;
  background-color: rgb(var(--secondary-window));
}

.icon-button-pointing-hand-window-bar {
  cursor: pointer;
  fill: rgb(var(--primary-window));
  padding: 1px 2px;
  position: relative;
  right: 20px;
}

.icon-button-pointing-hand-window-bar > svg {
  margin-bottom: 2px;
  width: 18px;
}

.window-contents {
  width: 100%;
  color: rgb(var(--secondary-window));
  background-color: rgb(var(--primary-window));
  display: flex;
  flex-direction: column;
  align-content: center;
}

.window-inner-lining {
  padding: 7.5px;
}

.window-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.generic-title {
  text-align: center;
  padding: var(--padding-titles);
}


/* ----- Table Styling ----- */

/* table {
  table-layout: fixed;
} */

th {
  font-size: var(--font-s);
  text-align: center;
  padding-bottom: 8px;
}

td {
  text-align: center;
  font-size: var(--font-s);
  padding: 5px;
  /* overflow: hidden;
  white-space: nowrap; */
}

td:nth-of-type(1) {
  text-align: left;
}

.eth-gas-fees-table {
  margin: -10px 0 10px 0;
  width: 90%;
  text-align: center;
}

.watch-list-table {
  margin: 10px 0 10px 0;
  width: 98%;
  text-align: center;
  /* overflow-y: scroll; */
  max-height: 162px;
}

.watch-list-table > tr > td {
  overflow: hidden;
  white-space: nowrap;
}

.watch-list-table > tr > td:nth-of-type(1) {
  width: 5%;
}

.watch-list-table > tr > td:nth-of-type(2) {
  text-align: left;
}

.crypto-by-market-cap-table {
  margin: -10px 0 10px 0;
  width: 95%;
  text-align: center;
}

.portfolio-table {
  margin: 10px 0 10px 0;
  width: 98%;
  text-align: center;
  border-collapse: collapse;
  max-height: 200px;
}

.portfolio-table > tr > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.portfolio-table > tr > td:nth-of-type(2) {
  text-align: left;
}

.portfolio-table > tr > td:nth-of-type(4), .portfolio-table > tr > td:nth-of-type(5) {
  border: var(--line-weight-s) solid rgb(var(--primary-window));
}

.portfolio-table > tr:nth-last-of-type(1) > td:nth-of-type(4), .portfolio-table > tr:nth-last-of-type(1) > td:nth-of-type(5) {
  padding: 10px 0 10px 0;
  border: none;
}

.wallets-imported-table {
  margin: -10px 0 10px 0;
  width: 100%;
  text-align: center;
}

.wallets-imported-table > tr > td:nth-of-type(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* ----- Eth Gas Fees Feed Widget ------ */

/* Gas Fees Feed */
.eth-gas-fees-feed-container {
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eth-gas-fees-feed-low, .eth-gas-fees-feed-average, .eth-gas-fees-feed-high {
  padding: var(--padding-titles) 20px 20px 20px;
  text-align: center;
}

.eth-gas-fees-feed-gwei-value {
  font-size: var(--font-l);
  line-height: 2;
}

.eth-gas-fees-feed-eth-value, .eth-gas-fees-feed-primary-currency-value, .eth-gas-fees-feed-transfer-duration {
  font-size: var(--font-s);
  padding: 5px;
}

/* Top Guzzlers Module */
.eth-gas-fees-top-guzzlers-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eth-gas-fees-top-guzzlers-title {
  text-align: center;
  padding: var(--padding-titles);
}

/* Exchange Prices Module */
.eth-gas-fees-exchange-prices-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Market Sentiment Module */
.eth-gas-fees-market-sentiment-container {
  min-height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.eth-gas-fees-market-sentiment-title {
  padding: var(--padding-titles);
}

.eth-gas-fees-market-sentiment-value {
  position: absolute;
  margin-top: calc(var(--padding-titles) * -1);
  display: flex;
  align-self: center;
  justify-content: center;
  top: 50%;
}


/* ----- Watchlist Widget ----- */

/* Module Watch List */
.watch-list-container {
  width: 650px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* Module Crypto By Market Cap */
.crypto-by-market-cap-container {
  width: 450px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Module Search */
.search-container {
  width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-element-container {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-general) var(--padding-general) var(--padding-general);
  justify-content: center;
}

.search-element-container > button {
  background-color: rgb(var(--secondary-window));
  border: none;
  outline: 1px solid rgb(var(--primary-window));
  cursor: pointer;
  margin-left: -1px;
}


/* ----- Widget Portfolio ----- */

/* Module Portfolio */
.portfolio-container {
  /* min-width: 665px; */
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.wallets-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 180px;
}

.wallet-search-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-general) var(--padding-general) var(--padding-general);
  justify-content: center;
}

.wallet-search-container > input {
  width: 100%;
}

.wallet-search-container > button {
  background-color: rgb(var(--secondary-window));
  border: none;
  outline: 1px solid rgb(var(--primary-window));
  cursor: pointer;
  margin-left: -1px;
}

.wallets-imported-container {
  margin: 0 0 20px 0;
  width: 95%;
  max-height: 100px;
  overflow-y: scroll;
}

.portfolio-stats-container {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-stats-total {
  padding: 10px;
}


/* ----- Module General Styling ----- */

.module {
  margin: 7.5px;
  color: rgb(var(--primary-window));
  background-color: rgb(var(--secondary-window));
}

.module-single {
  margin: 7.5px;
  width: 100%;
  color: rgb(var(--primary-window));
  background-color: rgb(var(--secondary-window));
}

.widget-hide {
  visibility: collapse;
  height: 0;
}


/* ----- System styles ----- */

::-moz-selection {
  color: rgb(var(--primary-system));
  background: rgba(var(--secondary-system), 0.9);
}

::selection {
  color: rgb(var(--primary-system));
  background: rgba(var(--secondary-system), 0.9);
}


/* ------------------------- */
/* ----- Media Queries ----- */
/* ------------------------- */

@media only screen
  and (max-width: 800px) {

    h1 {
      font-size: var(--font-xl);
    }

    .icon-header {
      height: 25px;
      padding: 0 3px 10px 3px;
    }

    .currency-section {
      margin: 0;
    }

    .currency-selection {
      margin: 0 10px;
    }

    .module {
      width: 100%;
    }

    .module-single {
      width: 100%;
    }

    .eth-gas-fees-top-guzzlers-container > table {
      width: 70%;
    }

    .watch-list-table > tr > th:nth-of-type(2), .watch-list-table > tr > td:nth-of-type(2)  {
      display: none;
    }

    .watch-list-table > tr > td:nth-of-type(6) {
      max-width: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .crypto-by-market-cap-table > tr > th:nth-of-type(4) ,.crypto-by-market-cap-table > tr > td:nth-of-type(4) {
      display: none;
    }

    .portfolio-container {
      min-width: 100px;
    }

    .portfolio-table {
      max-width: 100%;
    }

    .portfolio-table > tr > th:nth-of-type(2) ,.portfolio-table > tr > td:nth-of-type(2) {
      display: none;
    }

    .portfolio-table > tr > th:nth-of-type(6) ,.portfolio-table > tr > td:nth-of-type(6) {
      /* overflow: auto;
      text-overflow: ellipsis; */
      display: none;
    }

    .portfolio-table > tr > th:nth-of-type(5) ,.portfolio-table > tr > td:nth-of-type(5) {
      /* overflow: auto;
      text-overflow: ellipsis; */
      display: none;
    }

  }
